*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 80px;
    font-family: cursive;
}
p{
    padding: 15px 5px 0px 5px;
    font-family: cursive;
    font-size: 16px;
    position: relative;
}
.s{
    background-color: rgb(150,150,150);
    border: 2px solid black;
    padding: 3px;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}
span{
    font-size: 20px;
    font-family: cursive;
    width: 150px;
    border:1px solid black;
    text-align: center;
    float: right; 
    top:0;
    right: 0;
    margin:0;
    position: absolute;
}
#i1{
    background-color: #FF9999;

}
#i2{
    background-color: #FF0000;
}
#i3{
    background-color: #A52A2A;
}
.container{
    width: 100%;
}

@media (min-width: 992px){
    .col-lg-4{
        width:33.33%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width:50%;
        float: left;
    }
    .col-md-12{
        width: 100%;
        float: left;

    }
}
@media (min-width: 767px){
    .col-sx-12{
        width:100%;
        float:left;
    }
}